*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body{
    background-color: #f4f4f4;
}
.pltd{
    width: 1200px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    padding: 30px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #2a5da4;
}
.plt{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 10px 15px;
    border: 1px solid white;
    text-align: center;
}
th{
    background-color: #2a5da4;
    color: white;
}
tr:nth-child(even){
    background-color: #f9f9f9;
}
td{
    font-size: 14px;
}
tr:hover{
    background-color: #bcd7f3;
}