.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 70%;
    align-items: center;
}
h1{
    width: 30%;
    text-align: center;
}