table,tr,th,td{
    border: 1px solid black;
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: green;
}
tr:nth-child(odd){
    background-color: blue;
}
tr:nth-child(even){
    background-color: yellowgreen;
}

.tbl{
    background-color: blue;
    border: 3px solid orange