h3{
    color: bisque;
    border-style: solid;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 10px;
    margin: 15px 20px 25px 30px;
    padding: 15px 20px 25px 30px;
}
h5{
    color: black;
}
body {
    background-color: rgb(68, 0, 255);
    background-image: url(netflixbg.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.btn{ 
    color: bisque;
    background-color: rgb(68, 0, 255);
    border-style: solid;
    border-color: blanchedalmond;
    border-width: 5px;
    border-radius: 10px;
    margin: 15px 20px 25px 30px;
    padding: 15px 20px 25px 30px;
    cursor: pointer;
    width: 100%;
}
.btn:hover{
    background-color: gray;
}